* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.container {
    margin: 20% auto;
    width: 700px;
    background-color: white;
    height: 470px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    
}
.container div {
    flex: 1;
    width: 100%;
}
.container img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    height: 470px;
    object-fit: cover;
    object-position: center;
}

.container-2nd {
    flex: 1;
    width: 80%;
}

.container .container-2nd div {
    width: 80%;
    margin: 10%;
}

.logo {
    font-family: 'Montserrat';
    color: hsl(158, 36%, 37%);
}

h1 {
    font-family: 'Fraunces';
    width: 70%;
    margin: 20px 0 20px 0;
    line-height: 2rem;
}

p {
    width: 100%;
    font-family: 'Montserrat';
    word-spacing: 1px;
    line-height: 25px;
    color: hsl(0, 0%, 73%);
    margin: 20px 0 20px 0;
}

.price-149 {
    font-size: 35px;
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    margin-top: 30px;
}

.price-169 {
    font-family: 'Montserrat';
    color: rgb(200, 200, 200);
    text-decoration: line-through;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: hsl(158, 36%, 37%);
    color: white;
    font-size: 15px;
    font-family: Montserrat;
    margin: 40px auto;
}

@media (max-width: 600px) {
    .container {
        flex-direction: row;
    }
}